<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false" debug="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProfile name="test,default">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread.%X{exceptionId}] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <appender name="STDOUT-noexception" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread.%X{exceptionId}] %-5level %logger{36} - %msg%nopex%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="default">
        <logger name="nl.sander" level="DEBUG"/>

        <root>
            <level value="INFO"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
</configuration>
